*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --main-color:#5755FE;
    --secondary-color:#FF71CD;
    --bg-color:#8B93FF;
    --black-color:#2222;
    --white-color:#ffff;
    --font-family:Arial,
        Helvetica,
        sans-serif;
        --font-weight:bold;

}
.navbar-nav li a{
    /* background-color: blue !important; */
    padding: 10px 20px !important;
    margin: 0 20px !important;
    color: var(--main-color);
    font-weight: var(--font-weight);
    border-radius: 5px;
}
.navbar-nav li a:hover{
    background-color: #5755FE;
    border-radius: 5px;
    font-weight: var(--font-weight);
    color: #fff;
  
}
.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: calc(100vh - 50px);
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.card{
    width: 500px;
    height: 300px;
    background-color: #FF71CD;
}